Parse data from csv

In [1]:
import pandas as pd

bike_data_df = pd.read_csv("BikeData.csv", sep=',')
bike_data_df.columns = bike_data_df.columns.str.strip()

bike_data_df

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,467,177
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,296,63
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,571,665
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,171,457
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,442,401

Calculate total count

In [2]:
total_count = bike_data_df["Partner 1"].sum() + bike_data_df["Partner 2"].sum()

total_count

np.int64(6102059)

Remove Partner 1 & Partner 2

In [5]:
no_partners_df = bike_data_df.drop(columns=["Partner 1", "Partner 2"])

no_partners_df

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes
...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes
8756,2018-11-30,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes
8757,2018-11-30,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes
8758,2018-11-30,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes
8759,2018-11-30,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes

Cast Date to standart form

In [4]:
bike_data_df["Date"] = pd.to_datetime(bike_data_df["Date"], errors="coerce", format="%d/%m/%Y")

bike_data_df

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,467,177
8756,2018-11-30,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,296,63
8757,2018-11-30,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,571,665
8758,2018-11-30,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,171,457
8759,2018-11-30,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,442,401

Receive bikes qnty by current date

In [28]:
from datetime import datetime

current_date = pd.to_datetime(datetime.today(), format="%d/%m/%Y")

date_mask = (bike_data_df["Date"].dt.day == current_date.day) & (bike_data_df["Date"].dt.month == current_date.month)
today_trimmed_df = bike_data_df[date_mask]

total_bikes_by_current_date_df = pd.DataFrame([{
    "Date": current_date.date(),
    "Day_of_week": today_trimmed_df["Date"].dt.day_name().iloc[0],
    "Total_Bikes": today_trimmed_df["Partner 1"].sum() + today_trimmed_df["Partner 2"].sum()
}])

total_bikes_by_current_date_df

         Date Day_of_week  Total_Bikes
0  2025-11-18      Sunday        15320